@font-face {
    font-family: 'Moonchild';
    src: local('Moonchild'), local('MoonchildRegular'),
        url('MoonchildRegular.woff2') format('woff2'),
        url('MoonchildRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

